{% extends 'main/base.twig' %}

{% block body %}


    <div class="row mt-4">
        <div class="col-12">
            <div class="card">

            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel-2">Question?</h5>
                    <button
                            onclick="window.location.href='{{ request.headers.get('referer') }}'"
                            type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <strong>{{ title }}</strong>
                    <p>{{ text }}</p>
                    {% if show_form %}
                        <div>
                            <form>
                                {% for key, field in form %}

                                    <div class="form-group">
                                        <label for="{{ key }}">{{ key|capitalize }}</label>
                                        <input type="{{ field.type }}" name="{{ key }}" class="form-control" id="{{ key }}" value="{{ field.value }}">
                                    </div>

                                {% endfor %}
                            </form>
                        </div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button onclick="makeProperCall(this, '{{ action }}')" type="button" class="btn btn-primary" data-bs-dismiss="modal">Yes</button>
                    <button onclick="window.location.href='{{ request.headers.get('referer') }}'" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#exampleModal-2').modal('show');
        });

        function getFormField(element) {
            const form = $(element).parent().parent().find('form');
            const fields = {};

            form.find('input, textarea, select').each(function () {
                const name = $(this).attr('name');
                if (!name) return; // skip fields without names

                if ($(this).attr('type') === 'checkbox') {
                    fields[name] = $(this).is(':checked');
                } else if ($(this).attr('type') === 'radio') {
                    if ($(this).is(':checked')) {
                        fields[name] = $(this).val();
                    }
                } else {
                    fields[name] = $(this).val();
                }
            });

            return fields;
        }

        function makeProperCall(element, action) {
            const fields = getFormField(element);
            let queryString = "";
            if (fields) {
                const params = new URLSearchParams(fields);
                queryString = "&"+ params.toString();
            }
            window.location.href = action + queryString;
        }


    </script>
{% endblock %}