{% extends 'main/base.twig' %}

{% block body %}

    <div class="row mt-5">
        <div class="col-lg-12">
            <div class="card px-2">
                <div class="card-body">
                    <div class="container-fluid">
                        <h3 class="text-end my-5">Invoice&nbsp;&nbsp;#INV-{{ order.id }}</h3>
                        <hr>
                    </div>
                    <div class="container-fluid d-flex justify-content-between">
                        <div class="col-lg-3 ps-0">
                            <p class="mt-5 mb-2"><b>{{ store.getStoreName }}</b></p>
                            <p>{{ store.getStoreAddress }}</p>
                            <p>{{ store.getSupportEmail }}</p>
                            <p>{{ store.getPhone }}</p>
                        </div>
                        <div class="col-lg-3 pe-0">
                            <p class="mt-5 mb-2 text-end"><b>Invoice to</b></p>
                            <p class="text-end">
                                {{ order.getBilling.getAddress|raw }}
                            </p>
                        </div>
                    </div>
                    <div class="container-fluid d-flex justify-content-between">
                        <div class="col-lg-3 ps-0">
                            <p class="mb-0 mt-5">Invoice Date : {{ order.getCreatedAt|date('jS M Y') }}</p>
                        </div>
                    </div>
                    <div class="container-fluid mt-5 d-flex justify-content-center w-100">
                        <div class="table-responsive w-100">
                            <table class="table">
                                <thead>
                                <tr class="bg-dark text-white">
                                    <th>#</th>
                                    <th>Description</th>
                                    <th class="text-end">Quantity</th>
                                    <th class="text-end">Unit cost</th>
                                    <th class="text-end">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in order.getItems %}
                                <tr class="text-end">
                                    <td class="text-start">{{ item.id }}</td>
                                    <td class="text-start">{{ item.getName }}</td>
                                    <td>{{ item.getQuantity }}</td>
                                    <td>{{ currency_format(item.getUnitPrice, order.getCurrency) }}</td>
                                    <td>{{ currency_format(item.getTotalPrice, order.getCurrency)  }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="container-fluid mt-5 w-100">
                        <p class="text-end mb-2">Sub - Total amount: {{ currency_format(order.subtotal, order.getCurrency) }}</p>
                        <p class="text-end mb-2">Shipping Total: {{ currency_format(order.getShippingTotal, order.getCurrency) }}</p>
                        <p class="text-end mb-2">Discount Total: {{ currency_format(order.getDiscountTotal, order.getCurrency) }}</p>
                        {% for tax in order.getOrderTax %}
                        <p class="text-end">{{ tax.getName }} ({{ tax.getRate }}%) : {{ currency_format(tax.getAmount, order.getCurrency) }}</p>
                        {% endfor %}
                        <h4 class="text-end mb-5">Total : {{ currency_format(order.getGrandTotal,order.getCurrency ) }}</h4>
                        <hr>
                    </div>
                    <div class="container-fluid w-100">
                        <div class="form-group">
                            <label for="status">Select one of the status below to change order status</label>
                            <select onchange="saveOrderStatusChange(this, {{ order.id }})" name="status" id="status" class="form-control form-select">
                                <option {{ order.status == 'pending' ? 'selected' : '' }} value="pending">Pending</option>
                                <option {{ order.status == 'processing' ? 'selected' : '' }} value="processing">Processing</option>
                                <option {{ order.status == 'completed' ? 'selected' : '' }} value="completed">Completed</option>
                                <option {{ order.status == 'cancelled' ? 'selected' : '' }} value="cancelled">Cancelled</option>
                                <option {{ order.status == 'refunded' ? 'selected' : '' }} value="refunded">Refunded</option>
                                <option {{ order.status == 'failed' ? 'selected' : '' }} value="failed">Failed</option>
                                <option {{ order.status == 'on-hold' ? 'selected' : '' }} value="on-hold">On Hold</option>
                                <option {{ order.status == 'info-received' ? 'selected' : '' }} value="info-received">Info Received</option>
                                <option {{ order.status == 'shipping' ? 'selected' : '' }} value="shipping">Shipping</option>
                            </select>
                        </div>
                        {% if order.getPayment.id is empty  %}
                            <a href="/store/{{ store.getStoreId }}/payments/{{ order.id }}/order-payment"
                               class="btn btn-secondary float-end mt-4 ms-2">
                                <i class="mdi mdi-credit-card-check me-1"></i>Pay
                            </a>
                        {% endif %}
                        <a href="/store/{{ store.getStoreId }}/orders/{{ order.id }}/print" class="btn btn-primary float-end mt-4 ms-2"><i class="mdi mdi-printer me-1"></i>Print</a>
                        <a href="/store/{{ store.getStoreId }}/orders/{{ order.id }}/send-invoice" class="btn btn-success float-end mt-4"><i class="mdi mdi-telegram me-1"></i>Send Invoice</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function saveOrderStatusChange(el, orderId) {
            let status = el.value;
            fetch('/store/{{ store.getStoreId }}/order/'+orderId+'/status?status='+status, {
                method: 'POST'
            }).then(res => res.json()).then(data => {
                console.log(data);
            });
        }
    </script>

{% endblock %}